/* --- style.css --- */

/* 全体のレイアウト */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }

  /* ヘッダーのデザイン */
  header {
    background-color: #ff9393;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
  }

  /* ロゴのデザイン */
  .logo {
    height: 80px;
  }

  /* ヘッダー内のレイアウト調整 */
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  main.container{
    max-width: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }


  /* メインコンテンツ */
  main {
    flex: 1;
    padding: 50px;
  }

  /* フッターのデザイン */
  footer {
    text-align: center;
    padding: 30px;
    background-color: #ffd9d9;
    border-top: 1px solid #ddd;
  }

  .post{
    background-color: white;
    padding: 20px 15px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid #000000;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 0 auto 11px;
    width: 100%;
    display: block;
    color: #000000;
    text-decoration: none;
    /* p {
      margin-bottom: 5px;
    } */
  }

  .title{
    font-size: 30px;
    font-weight: bold; /* 太字 */
    margin: 10px;
  }

  .edit{
    color:blue;
    padding-right: 10px;
  }

  .delete{
    color:red;
  }

  .editdelete{
    display:flex;
    font-weight: bold; /* 太字 */

  }

  .post-detail{
    font-size: 15px;
    margin-bottom: 5px;
  }

  .comment-body{
    font-size: 20px;
    margin: 10px;
  }

  .map{
    margin: 20px;
    font-size: 40px;
  }
