:root {
    --main-color-red: #ff9393;
    --white: #ffffff;
    --editButton-color: #00b4d8;
    --editButton-color_hover: #005f71;
    --deleteButton-color: #e63946;
    --deleteButton-color_hover: #952c35;
}

header {
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 8px 32px;
    background-color: var(--main-color-red);
    position: fixed;
    width: 100%;

    .header_logo-container {
        .logo {
            height: 80px;
        }
    }
}

/* 初期状態は非表示 */
/* .dropdown-hidden {
    right: -100%;
    overflow: hidden;
    transition: max-height 0.1s ease-out, opacity 0.1s ease-out;
} */

/* 表示状態 */
/* .dropdown-visible {
    right: 100%;
    opacity: 1;
    transition: max-height 0.1s ease-in, opacity 0.1s ease-in;
} */

/* ヘッダーやボタンのスタイル（必要に応じて調整） */
.header-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 37px;
    /* position: absolute; */
}

.header-menu-button {
    display: block;
    width: 70px;
    height: 70px;
    cursor: pointer;
    background: transparent;
    border: 3px solid white;
    border-radius: 50%;
    color: white;
    font-size: 40px;
}

.header-links {

    .header-links_menu {
        width: 270px;
        display: flex;
        flex-direction: column;
        background-color: var(--main-color-red);
        padding: 16px 0;
        text-align: center;
        /* border-radius: 8px; */
        position: absolute;
        top: 96px;
        /* right: 0; */
        /* box-shadow: 1px 4px 10px -2px rgb(99, 99, 99); */
        transition: .3s ease;

        &.in {
            right: 0;
        }

        &.out {
            right: -270px;
        }

        .header-links_menuList {
            display: block;
            width: 100%;
            padding: 8px 0;
            color: var(--white);
            background: transparent;
            border: none;
            font-size: 24px;
            font-weight: bold;
            transition: .3s ease;

            &:hover {
                background-color: var(--white);
                color: var(--main-color-red);
            }
        }
    }
}
