header {
    display: flex;
    justify-content: space-between;
    padding: 8px 32px;
    background-color: #ff9393;
    position: fixed;
    width: 100%;
}

/* 初期状態は非表示 */
.dropdown-hidden {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.1s ease-out, opacity 0.1s ease-out;
}

/* 表示状態 */
.dropdown-visible {
    max-height: 200px; /* メニューの内容に応じて調整 */
    opacity: 1;
    transition: max-height 0.1s ease-in, opacity 0.1s ease-in;
}

/* ヘッダーやボタンのスタイル（必要に応じて調整） */
.header-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 37px;
    /* position: absolute; */
}

.header-dropdown-button {
    display: block;
    width: 70px;
    height: 70px;
    cursor: pointer;
    background: transparent;
    border: 3px solid white;
    border-radius: 50%;
    color: white;
    font-size: 40px;
}

.header-links {
    /* position: absolute; */

    .header-links_menu {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 16px;
        text-align: center;
        border-radius: 8px;
        position: absolute;
        top: 88px;
        right: 55px;
        box-shadow: 1px 4px 10px -2px rgb(99, 99, 99);

        a, form {
            margin-bottom: 8px;
        }
    }
}
