.register-container {
    width: 50%;

    @media screen and (min-width: 768px) and (max-width: 1024px) {
        width: 50%;
    }

    @media screen and (max-width: 767px) {
        width: 100%;
    }
}
