:root {
    --main-color-red: #ff9393;
    --white: #ffffff;
    --editButton-color: #00b4d8;
    --editButton-color_hover: #005f71;
    --deleteButton-color: #e63946;
    --deleteButton-color_hover: #952c35;
    --pale-red-color: #ffd9d9;
}

/* 全体のレイアウト */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* メインコンテンツ */
main {
    margin-top: 140px;

    .container {
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }
}

/* フッターのデザイン */
footer {
    text-align: center;
    padding: 30px;
    background-color: #ffd9d9;
    border-top: 1px solid #ddd;
    position: sticky;
    top: 100vh;
    width: 100%;
}

.edit-delete-buttons {
    margin-top: 8px;
    margin-right: 16px;
    display: flex;
    justify-content: right;
}

.edit-button {
    color: var(--editButton-color);
    margin-right: 8px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s ease;

    &:hover {
        color: var(--editButton-color_hover);
    }
}

.delete-button {
    background: transparent;
    border: none;
    color: var(--deleteButton-color);
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s ease;

    &:hover {
        color: var(--deleteButton-color_hover);
    }
}
