:root {
    --main-color-red: #ff9393;
    --white: #ffffff;
    --editButton-color: #00b4d8;
    --editButton-color_hover: #005f71;
    --deleteButton-color: #e63946;
    --deleteButton-color_hover: #952c35;
    --pale-red-color: #ffd9d9;
}

.show_card {
    background-color: white;
    padding-top: 0px;
    padding-bottom: 20px;
    border-radius: 20px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid #000000;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    width: 100%;
    display: block;
    color: #000000;
    margin-bottom: 16px;

    &.answer {
        background-color: var(--pale-red-color);
    }

    .show_card_answer {
        padding-left: 16px !important;
        margin: 0;
        padding: 0;

        p {
            font-size: 20px;
            padding: 0;
            margin: 0;
        }
    }
}

.show_map-section {
    width: 100%;
}

.user-info-section {
    width: 100%;
    display: flex;
    padding: 8px;
    border-bottom: 1px solid rgb(196, 196, 196);
    margin-bottom: 16px;

    .user-image {
        margin-right: 16px;
        img {
            width: 50px;
            height: 50px;
        }
    }

    .user-info {
        .user-name {
            margin: 0;
            font-weight: bold;
        }
        .question_created_at {
            margin: 0;
            color: rgb(181, 181, 181);
            font-weight: bold;
        }
    }
}

.question-card_content {
    padding: 0 16px;

    .question-title {
        font-size: 32px;
        margin-bottom: 16px;
    }

    .question-tags {
        display: flex;
        justify-content: right;
        margin-right: 8px;

        span {
            margin-right: 8px;
            background-color: var(--tag-color);
            padding: 2px 8px;
            border-radius: 10px;
        }
    }
}
