.show_question-card {
    background-color: white;
    padding: 20px 15px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid #000000;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    width: 100%;
    display: block;
    color: #000000;
    margin-bottom: 24px;
}

.show_map-section {
    width: 100%;
}

.title {
    font-size: 30px;
    font-weight: bold; /* 太字 */
    margin: 10px;
}

.edidele {
    display: flex;
    font-weight: bold; /* 太字 */
}

.edit {
    color: blue;
}

.delete {
    color: red;
}


.post-detail {
    font-size: 15px;
    margin-bottom: 5px;
}

.comment-body {
    font-size: 20px;
    margin: 10px;
}

.map {
    margin: 20px;
    font-size: 40px;
}
